@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Root Styles */
  html {
    @apply scroll-smooth text-[14px];
    -webkit-tap-highlight-color: transparent;
  }
  body {
    font-family: 'Roboto', sans-serif;
    @apply dark-bg-main;
  }
  /* Base Styles */
  h1 {
    @apply text-4xl font-semibold tracking-widest md:text-5xl;
  }
  h2 {
    @apply text-4xl font-medium tracking-wider;
  }
  h3 {
    @apply text-3xl font-medium tracking-wide;
  }
  h4 {
    @apply text-2xl font-medium tracking-wide;
  }
  h5 {
    @apply text-lg font-medium tracking-wide;
  }
  li {
    @apply py-0.5;
  }
  p {
    @apply p-2 text-justify italic;
  }
  a {
    @apply text-blue-700 visited:text-purple-700 dark:text-blue-300 dark:visited:text-purple-400 outline-none focus:ring;
  }
}

@layer utilities {
  .invert-text {
    @apply bg-secondary text-primary;
  }
  .danger {
    @apply bg-danger text-white;
  }
  .success {
    @apply bg-success;
  }
  .texture {
    background-image: url('/bg-texture.svg');
  }
  .responsive-grid {
    @apply grid grid-cols-responsive;
  }
  .dark-bg-main {
    @apply bg-zinc-300 dark:bg-zinc-900 transition-colors ease-in duration-200;
  }
  .dark-primary {
    @apply bg-primary dark:bg-zinc-800;
  }
  .dark-secondary {
    @apply bg-secondary dark:bg-zinc-800;
  }
  .dark-base {
    @apply bg-zinc-100 text-zinc-600 dark:bg-zinc-700 dark:text-zinc-300;
  }
  .dark-white {
    @apply bg-white dark:bg-zinc-600;
  }
  .dark-accent{
    @apply bg-accent dark:bg-zinc-500;
  }
  .dark-light {
    @apply bg-zinc-200 dark:bg-zinc-500;
  }
}

@layer components {
  .pill {
    @apply rounded-full px-2 py-1 text-center text-sm font-medium;
  }
  .pill-danger {
    @apply pill danger;
  }
  .pill-success {
    @apply pill success;
  }
  .holder {
    @apply px-8 py-4 md:p-8;
  }
  .page-container {
    @apply dark-base max-w-screen-lg md:rounded-md overflow-hidden shadow-sm md:m-6 lg:mx-auto;
  }
  .card {
    @apply dark-white rounded-md p-4 shadow;
  }
  .card-content {
    @apply flex grow items-center justify-center gap-2;
  }
}
